
*{
    font-family: 'Montserrat', sans-serif;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.link{
    color: black;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.link:hover{
    transition: 0.4s;
    color: red;
    font-size: 26px;
}

.page-name{
    font-weight: bold;
}

#login{
    color: white;
    transition: 0.4s;
}

#login:hover{
    background-color: #9575CD;
}